@import 'styles/css/style.scss';

.row {
  margin-top: 20px
}

.top-buffer {
  margin-top: 20px
}

.inside-padding {
  padding: 10px;
}

.error {
  margin-top: 5px;
  margin-left: 5px;
  color: #2C3E50;
  font-weight: 500;
}
