.linkName {
  line-height: 32px;
  text-align: center;
}

.linkInput {
  float: right;
  padding: 10px 15px;
  width: 88%;
  height: 32px;
  color: #2C3E50;
  background-color: #fff;
  border: 1px solid #dce4ec;
  border-radius: 4px;
}